.card {
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 20px;
transition: all 0.5s ease-in-out;

box-shadow: 15px 8px 53px -13px rgba(0,0,0,0.3);
-webkit-box-shadow: 15px 8px 53px -13px rgba(0,0,0,0.3);
-moz-box-shadow: 15px 8px 53px -13px rgba(0,0,0,0.3);
}

.card:hover{
    background: #200752;
    transform: scale(1.05);
}

.inactive-card{
    background: #FFF;
    color: #555;
}

.active-card{
    background: #200752;
    color: #07E909;
}

@media screen and (max-width:768px){
    .card {
        height: 100px;
        }
}