
.SignInSignUpContainer {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .forms-SignInSignUpContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    margin-top: -100px;
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .SignInSignUpContainer:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #200752 0%, #5320BA 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  /* PANEL */
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .SignInSignUpContainer.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .SignInSignUpContainer.sign-up-mode .left-panel .image,
  .SignInSignUpContainer.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .SignInSignUpContainer.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .SignInSignUpContainer.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .SignInSignUpContainer.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .SignInSignUpContainer.sign-up-mode .right-panel .image,
  .SignInSignUpContainer.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .SignInSignUpContainer.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .SignInSignUpContainer.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {

    .SignInSignUpContainer {
      min-height:800px;
      height: 95vh;
    }

    .SignInSignUpContainer::before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 65%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .signin-signup {
      width: 100%;
      left:50%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem  8%;
    }

    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }

    .image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .left-panel{
       grid-row: 1 / 2;
    }

    .right-panel{
        grid-row: 3 / 4;
    }

    .right-panel .image,
    .right-panel .content {
       transform: translateY(300px);
    }
    
    .SignInSignUpContainer.sign-up-mode::before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .SignInSignUpContainer.sign-up-mode .left-panel .image,
    .SignInSignUpContainer.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }

    .SignInSignUpContainer.sign-up-mode .signin-signup{
        top: 20%;
        transform: translate(-50%, 0);
        left: 50%;
    }

    .sign-in-form {
        margin-top: -30vh;
      }


  }

  @media (max-width: 570px) {
    form {
      padding: 0 1rem;
    }

    form.sign-up-form {
      margin-top: -150px;
      opacity: 0;
      z-index: 1;
    }

    form.sign-in-form {
      margin-top: -350px;
      z-index: 2;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.1rem;
    }
    .SignInSignUpContainer {
      padding: 1.5rem;
    }
  
    .SignInSignUpContainer:before {
      bottom: 72%;
      left: 50%;
    }
  
    .SignInSignUpContainer.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
  
  

.sign-in-btn{
border-radius: 30px;
white-space: nowrap;
background: none;
padding:12px 64px;
color: #07E909;
font-size: 20px;
outline: none;
border:solid 2px #07E909;
cursor: pointer;
margin-top: 10px;
}

.sign-in-btn:hover{
transition: all 0.3s ease-out;
background: #200752;
background : #200752;
}